---
site_name: JM GitHub Standards
site_description: Central Documentation for CI/CD, Linting and Governance.
site_author: J端rgen M端lbert

# Repository
repo_name: jmuelbert/jm-github-standards
repo_url: https://github.com/jmuelbert/jm-github-standards/
edit_uri: blob/main/docs/
# Copyright
copyright: Copyright &copy; 2026 - now J端rgen M端lbert

# --- Configuration ---
docs_dir: docs
site_dir: site
extra_css:
  - stylesheets/extra.css

validation:
  links:
    unrecognized_links: warn
    absolute_links: warn
    anchors: warn
  nav:
    omitted_files: warn
    not_found: warn

nav:
  - Home: index.md
  - Getting Started:
      - Introduction: getting-started/index.md
      - New Project Setup: getting-started/setup.md
  - Governance:
      - Overview: governance/index.md
      - Labels: governance/labels.md
      - Repolinter: governance/repolinter.md
      - Repository Metadata: governance/metadata.md
      - Security: governance/security.md
  - Shared Workflows:
      - Overview: workflows/index.md
      - Maintenance: workflows/maintenance.md
      - MegaLinter: workflows/megalinter.md
  - Developer Guide:
      - Overview: developer-guide/index.md
      - Branching Model: developer-guide/branches_and_environments.md
  - Community:
      - Contributing: community/contributing.md
      - Code of Conduct: community/code_of_conduct.md
      - License: community/license.md
# --- Theme Configuration ---
theme:
  name: material
  language: en
  palette:
    # Automatically switch between light and dark mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Change to Dark Mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Change to Light Mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.top
    - search.suggest
    - content.code.copy
    - content.code.annotate
    - content.code.select
    - content.tabs.link
    - content.tooltips
    - announce.dismiss

  font:
    text: Roboto
    code: Roboto Mono

# --- Plugins ---
plugins:
  # Built-in
  search:
    lang:
      - en
      - de
      - es
      - it
      - zh
  awesome-pages: {}
  section-index: {}
  glightbox: {}
  include-markdown: {}
  mike:
    alias_type: copy
  i18n:
    docs_structure: folder
    fallback_to_default: true
    reconfigure_material: true
    reconfigure_search: true
    languages:
      - locale: en
        default: true
        name: English
        build: true
      - locale: de
        name: Deutsch
        build: true
  git-revision-date-localized:
    type: date
    strict: false
    # Required for blog plugin's generated indices
    fallback_to_build_date: true
    exclude:
      - blog/**/*

# --- Markdown Extensions ---
markdown_extensions:
  # Built-in
  - markdown.extensions.abbr:
  - markdown.extensions.admonition:
  - markdown.extensions.attr_list:
  - markdown.extensions.footnotes:
  - markdown.extensions.md_in_html:
  - markdown.extensions.meta:
  - markdown.extensions.tables:
  - markdown.extensions.toc:
      permalink: true
  # Extra
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret:
  - pymdownx.critic:
  - pymdownx.details:
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      line_spans: __span
      pygments_lang_class: true
      linenums_style: pymdownx-inline
      use_pygments: true
  - pymdownx.inlinehilite:
  - pymdownx.keys:
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shortener: true
      social_url_shorthand: true
      normalize_issue_symbols: true
  - pymdownx.mark:
  - pymdownx.progressbar:
  - pymdownx.saneheaders:
  - pymdownx.smartsymbols:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde:

# Customization
extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jmuelbert

watch:
  - mkdocs.yml
  - docs/
